In [1]:
%load_ext autoreload
%autoreload 2

In [27]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/raw/train.csv')

df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [5]:
df[df.isna().any(axis=1)]

,id,qid1,qid2,question1,question2,is_duplicate
105780,105780,174363,174364,How can I develop android app?,NaN,0
201841,201841,303951,174364,How can I create an Android app?,NaN,0
363362,363362,493340,493341,NaN,My Chinese name is Haichao Yu. What English na...,0

In [6]:
df.dropna(inplace=True)

In [28]:
df.describe(include=[np.object])

,question1,question2
count,404287,404287
unique,290455,299173
top,How do I improve my English speaking?,How can you look at someone's private Instagra...
freq,50,120

In [34]:
df['question1'].apply(lambda x: len(x)).max()

623

In [35]:
df['question2'].apply(lambda x: len(x)).max()

1169